div{
   display: flex;
   justify-content: center;
   align-items: center;
  
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

 }

span input{
    /* flex: 1; */
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 10px;
    width: 280px;
}

span img{
    position: absolute;
    right: 10px;
    width: 30px;
    
}
.clicked{
    cursor: pointer;
}